<div class="row">

  <h1>My Boards</h1>

  <div ng-repeat="board in boardData">
    <div class="col-sm-4">
      <div class="card">
          <div class="card-block">
            <div class="add"><button class="btn btn-success" ng-click="addPin(board.id)"><a ng-href="#!/pins/new">Create New Pin</a><i class="fa fa-plus-circle" aria-hidden="true"></i></button></div>
            <h3 class="card-title">{{board.title}}</h3>
            <h4 class="card-description"> {{board.description}}</h4>
            <div class="delete"><button class="btn btn-danger" ng-click="deleteBoard(board.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
            <div class="viewBoard"></button ng-click="showBoard(boardId)"></button></div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>