<!-- form for making boards, use ng-click -->
<div class="col-xs-12" >
  <h1>{{formTitle}}</h1>
  <div class="form-group">
    <label>Board Title</label>
    <input type="text" class="form-control" placeholder="Some text" ng-model="board.title"/>
  </div>
  <div class="form-group">
    <label>Board Description</label>
    <input type="text" class="form-control" placeholder="Some text" ng-model="board.description"/>
  </div>

  <button class="btn btn-default" ng-click="saveBoard()">Submit</button>
</div>

