<!-- use ng-click, filter and ng repeat to establish pins in the view. -->

<!-- example <div ng-controller="FbController">
        <input type="text" class='text' ng-model="shroomDes">
        <input type="radio" value="Poisonous" ng-click="posShroomClick()">
        <input type="radio" value="Non-poisonous" ng-click="nonShroomClick()">
        <ul>
            <li ng-repeat="mushroom in mushrooms | filter : shroomDes">
                {{mushroom.description}}
            </li>
        </ul>
</div> -->